dj-database-url==0.4.2
Django==1.11.2
django-activeurl==0.1.9
django-appconf==1.0.2
django-bootstrap3==8.2.3
django-classy-tags==0.8.0
django-crispy-forms==1.6.1
lxml==3.8.0
psycopg2==2.7.1
python-decouple==3.0
pytz==2017.2
